body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

#navbar {
    z-index: 10000;
    background: black;
}

#FIRST-img {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 180px;
    margin-top: auto;
    margin-bottom: auto;
}

#FIRST-info {
    background-color: black;
    color: white;
    min-height: 500px;

}


#hr {
    width: 900px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-width: 2px;
    background-color: black;  
    color:black;  
}

#match_pic {
    width: 640px;
}

#First-description1 p{
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    text-align: left;
}
#First-description2 p{
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    margin-top: auto;
    margin-bottom: auto;
}

.divider {
    border-left: 3px solid #9a9da0;
    height: 130px;
    border-radius: 7px;
}

#follow-us {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#about-team {
    width: 100vw;
    max-height: 530px;
    object-fit: cover;
}

#mission-statement {
    min-height: 180px;
    z-index: 50;
    background-color: #16181a;
    justify-content: center;
    flex-direction: column;
    color: white;
}

#mission-statement h6 {
    margin: 20px auto 20px auto;
    max-width: 800px;
}

#about-us {
    margin: 25px auto 50px auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    max-width: 1500px;
    left: 10vw;
}

#home-logo-bg {
    width: 100vw;
    height: 94vh;
    object-fit: contain;
    background: rgb(80,32,141);
    background: radial-gradient(circle, rgba(80,32,141,1) 25%, rgba(16,0,27,1) 90%);
}

#home-logo {
    height: 94vh;
    max-height: 1000px;
    object-fit: cover;
}

#sponsors {
    display: flex;
    width: 100vw;
    height: 200px;
    margin-bottom: 10px;
    background-color: white;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

#welcome-message {
    background-color: #16181a;
    color: white;
}

#welcome-message h6{
    margin: 20px auto 20px auto;
    max-width: 800px;
}

#home-button-group {
    display: flex;
    gap: 50px;
}

.btn {
    margin: 20px 0px 20px 0px;
    width: 275px;
}

.btn:hover {
    font: verdana;
    color: white;
    background-color: #ff9900;
}

#footer {
    background-color: #212529;
    height: 230px;
    align-items: center;
    bottom: 0;
}